{% extends  "frame.html" %}

{% block title %} Tingersure's share {%endblock%}
{%block function_pointers_base_info%}smm-active{%endblock%}
{% block scripts %}
{%endblock%}


{%block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page-header">
                    <h1>函数指针</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">定义</h3>
                    </div>
                    <div class="panel-body">
                        <p>函数指针指一个指向函数的指针，即一个存储着函数地址的变量。</p>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">引申定义</h3>
                    </div>
                    <div class="panel-body">
                        <p>当一个语言支持函数指针时，就意味着函数已经不仅仅是个语法层面的概念，而是一个数据层面的概念。</p>
                        <p>函数像 <code>array</code> ， <code>struct</code> ， <code>object</code> 等复合数据类型一样，可以被当作数据一样被创建、赋值、传递、使用。</p>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">简单示例</h3>
                    </div>
                    <div class="panel-body">
                        <pre>

        func a (){
            log.Println("hello function!")
        }

        func main(){

            b := a

            b()
        }
                        </pre>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">语言支持</h3>
                    </div>
                    <div class="panel-body">
                        <p>许多语言都直接支持函数指针，如 <code>c</code> ， <code>go</code> ， <code>javascript</code> 。</p>
                        <p>哪些没有直接支持函数指针的语言，也会通过类似于面向对象等方式间接提供（封装）函数指针功能，如 <code>java</code> 。</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
{%endblock%}


