{% extends  "frame.html" %}

{% block title %} Tingersure's share {%endblock%}
{%block function_pointers_anonymous%}smm-active{%endblock%}
{% block scripts %}
{%endblock%}


{%block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page-header">
                    <h1>匿名函数</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">定义</h3>
                    </div>
                    <div class="panel-body">
                        <p>顾名思义，匿名函数就是定义时即使用，不重复使用，不需要名字的函数。（未必只调用一次）</p>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">示例</h3>
                    </div>
                    <div class="panel-body">

                        <pre>

        func a(b func(string)){

            b("hello")

            b("function")

        }

        func main (){

            func (){

                log.Println("hello function")

            }()

            a(func(text string){

                log.Println(text)

            })

        }

                        </pre>
                    </div>
                </div>

            </div>
        </div>
    </div>
{%endblock%}


