{% extends  "frame.html" %}

{% block title %} Tingersure's speech {%endblock%}
{%block function_pointers_inner%}smm-active{%endblock%}
{% block scripts %}
{%endblock%}


{%block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page-header">
                    <h1>内部函数<small>(函数内部定义的函数)</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">函数内部定义的函数</h3>
                    </div>
                    <div class="panel-body">
                        <p>既然函数是语言层面的一种基本数据类型，就没有理由只能在语法的顶层来定义，而应该可以在任何需要的地方都可以进行定义。</p>
                        <pre>

        function a (){

            function b (){

                console.log( function c (){

                    return "hello function!";

                }());

            }

            b();
        }

                        </pre>
                        <pre>

        func a (){

            b := func  (){

                log.Println( func() string {

                    return "hello function!"

                }())
            }

            b()
        }

                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">并非所有的语言都支持</h3>
                    </div>
                    <div class="panel-body">
                        <p>许多语言都直接支持内部函数，如 <code>go</code> ， <code>javascript</code> , 但仍有一些语言选择不支持，如 <code>c</code> ，也有一些语言选择了部分支持，如 <code>java</code> ,详情见 <a href='{{base.Render.Links("host")}}/page/function_pointers_closure#language_select'>闭包 &gt; 语言的抉择 </a>  。</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}


