{% extends  "frame.html" %}

{% block title %} Tingersure's speech {%endblock%}
{%block function_pointers_closure%}smm-active{%endblock%}
{% block scripts %}
{%endblock%}


{%block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page-header">
                    <h1>闭包<small>(函数的数据空间)</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">出现的原因</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">闭包带来了什么</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">闭包破坏了什么</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">局部变量</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>

            </div>
        </div>
        <div class="row" id="language_select">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">语言的抉择</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">内存泄露</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">函数定制</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>

            </div>
        </div>
    </div>
{%endblock%}


