{% extends  "frame.html" %}

{% block title %} Tingersure's share {%endblock%}
{%block function_pointers_callback%}smm-active{%endblock%}
{% block scripts %}
{%endblock%}


{%block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page-header">
                    <h1>回调函数</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">定义</h3>
                    </div>
                    <div class="panel-body">
                        以指针的方式传递给另一个函数，供对方在合适的时机调用的函数，称为回调函数。
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">简单示例</h3>
                    </div>
                    <div class="panel-body">

                        <pre>

        func a (text string){

            fmt.Println(text)

        }

        func b (callback func(string)){

            callback("hello function!")

        }

        func main(){

            b(a)

        }
                        </pre>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">匿名函数作为回调函数</h3>
                    </div>
                    <div class="panel-body">

                        <pre>

        func b (callback func(string)){

            callback("hello function!")

        }

        func main(){

            b(func (text string){

                fmt.Println(text)

            })
        }
                        </pre>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">回调函数的回调函数</h3>
                    </div>
                    <div class="panel-body">

                        <pre>

        func b ( callback func( func () string ) ){

            callback(func()string{

                return "hello function!"

            })
        }

        func main(){

            b(func( text func () string ){

                fmt.Println( text() )

            })
        }
                        </pre>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">回调函数 的 回调函数 的 回调函数 的 回调函数 的......</h3>
                    </div>
                    <div class="panel-body">
                        <pre>

        func a (callback func( func( func( func( func( func ( func( string)))))))){

            callback( func(callback func (func (func( func ( func ( string)))))){

                callback( func(callback func(func( func (string)))){

                    callback( func (callback func(string)){

                            callback("hello function!")
                    })
                })
            })
        }

        func main(){

            a ( func (callback func ( func ( func ( func ( func ( func ( string ))))))){

                callback ( func ( callback func ( func ( func ( func ( string ))))){

                    callback( func ( callback func ( func ( string ))){

                        callback( func (text string ){

                            fmt.Println(text)
                        })
                    })
                })
            })
        }
                        </pre>
                        <p>由于参数列表过于庞大复杂，一般不会有人写这种非常违和的函数。但对一些回调函数不需要写出完整参数列表的语言，看起来似乎就没有那么违和了。</p>
                        <p>但是这仅仅意味着写起来更简单，逻辑结构并没有因此而变得简单清晰，反而因为看不出完整的参数列表而变的更加难以捉摸。</p>
                        <pre>

        var a = function(callback){

            callback( function(callback){

                callback( function(callback){

                    callback( function(callback){

                        callback( function(callback){

                            callback("hello function!");

                        });
                    });
                });
            });
        };

        a(function(callback){

            callback(function(callback){

                callback(function(callback){

                    callback(function(callback){

                        callback(function(text){

                            console.log(text);

                        });
                    });
                });
            });
        });

                        </pre>
                        <p>通常不会有人真的写这样的反复嵌套的回调函数，但这种情况的一个变种则非常常见。</p>
                        <p>在面相对象编程中，两个关系密切的对象，各自有一组以对方为主要入参的用来操作对方的函数，在使用中就极有可能出现这种反复嵌套的情况。</p>
                        <p>而且由于传递的参数是封装的对象而不是带复杂参数列表的函数，所以编码者通常很难察觉到自己正在写这样的复杂嵌套。</p>
                        <p>这种情况往往牵一发动全身，容易出错，难以调试修改。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{%endblock%}


