{% extends  "frame.html" %}

{% block title %} Tingersure's Share {%endblock%}

{%block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{body_title("Welcome")}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 h1 text-center">
                Welcome to Tingersure's Share
            </div>
        </div>


    </div>

{%endblock%}


